body {
  margin: 10px;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Main-Form {
  width: 500px;
  border: solid 1px;
  border-color: #333;
  margin: 15px;
  padding: 15px;
  background-color: #ccc;
}
#root__title {
  font-weight: bolder;
  color: green;
}
#root_job_parameters__title,
#root_job_information__title {
  font-weight: bold;
}
